/* media header */
@media (max-width: 1024px) {
    .header {
        padding: 18px 40px;
    }

    .header__logo {
        margin-right: 50px;
    }

    .sidebar__scroll {
        padding-right: 0;
    }
}

@media (max-width: 850px) {
    .header__logo {
        margin-right: 20px;
    }
}

@media (max-width: 767px) {
    .header__menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(16, 7, 36, 1);
    }

    .header__menu-list {
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease, padding 0.4s ease;
        padding: 0;
        flex-direction: column;
    }

    .header__auth {
        margin-left: 0;
    }

    .js-header-menu.is-open {
        padding: 0 20px 20px 20px;
    }

    .header__menu-button {
        display: block;
        border: 2px solid #9171ff;
        padding: 8px;
        border-radius: 8px;
        fill: #9171ff;
        stroke: #9171ff;
    }
}

@media (max-width: 680px) {
    .header {
        padding: 18px 30px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 18px;
        gap: 14px;
    }

    .header__logo {
        width: 150px;
        height: 26px;
    }

    .header__auth {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header__lang {
        width: 70px;
        padding: 6px 14px;
    }

    .header__lang img {
        width: 20px;
        height: 20px;
    }

    .header__menu-button {
        padding: 6px;
    }

    .header__menu-button svg {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 338px) {
    .header__logo {
        width: 130px;
    }
}

/*media sidebar */
@media (max-width: 1024px) {
    .layout {
        flex-direction: column;
        height: auto;
    }

    .sidebar {
        order: 2;
        width: 100%;
        max-width: none;
        height: auto;
        padding: 20px;
    }

    .sidebar__scroll {
        height: auto;
        overflow: visible;
    }
}

/*media hero */
@media (max-width: 768px) {
    .hero {
        min-height: 70vh;
    }

    .hero__content {
        max-width: 400px;
    }

    .hero__rating,
    .hero__title,
    .hero__text {
        margin-bottom: 15px;
    }

    .hero__rating-label {
        font-size: 14px;
        font-weight: 300;
    }

    .hero__title {
        font-size: 24px;
        max-width: 300px;
    }

    .hero__text {
        font-size: 14px;
        font-weight: 300;
        max-width: 350px;
    }

    .hero__button {
        padding: 14px 40px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .hero {

        min-height: 50vh;
    }

    .hero__rating-label {
        font-size: 12px;
        font-weight: 200;
    }

    .hero__content {
        max-width: 300px;
        padding: 10px;
    }

    .hero__rating,
    .hero__title,
    .hero__text {
        margin-bottom: 5px;
    }

    .hero__title {
        font-size: 20px;
        max-width: 250px;
    }

    .hero__text {
        font-size: 12px;
        font-weight: 200;
    }

    .hero__button {
        padding: 12px 32px;
        font-size: 13px;
    }
}