/* media header */
@media (max-width: 1024px) {
    .header {
        padding: 18px 40px;
    }

    .logo {
        margin-right: 50px;
    }

    .sidebar__scroll {
        padding-right: 0;
    }
}

@media (max-width: 850px) {
    .logo {
        margin-right: 20px;
    }
}

@media (max-width: 767px) {
    .header__menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(16, 7, 36, 1);
    }

    .header__menu-list {
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease, padding 0.4s ease;
        padding: 0;
        flex-direction: column;
    }

    .header__auth {
        margin-left: 0;
    }

    .js-header-menu.is-open {
        padding: 0 20px 20px 20px;
    }

    .header__menu-button {
        display: block;
        border: 2px solid #9171ff;
        padding: 8px;
        border-radius: 8px;
        fill: #9171ff;
        stroke: #9171ff;
    }
}

@media (max-width: 680px) {
    .header {
        padding: 18px 30px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 18px;
        gap: 14px;
    }

    .logo {
        width: 150px;
        height: 26px;
    }

    .header__auth {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header__lang {
        width: 70px;
        padding: 6px 14px;
    }

    .header__lang img {
        width: 20px;
        height: 20px;
    }

    .header__menu-button {
        padding: 6px;
    }

    .header__menu-button svg {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 338px) {
    .logo {
        width: 130px;
    }
}

/*media sidebar */
@media (max-width: 1024px) {
    .sidebar {
        padding: 20px;
    }

    .sidebar--desktop {
        display: none;
    }

    .sidebar--mobile {
        display: block;
    }
}

/*media hero */
@media (max-width: 768px) {
    .hero {
        max-height: 320px;
    }

    .hero__content {
        max-width: 400px;
    }

    .hero__rating,
    .hero__title,
    .hero__text {
        margin-bottom: 15px;
    }

    .hero__rating-label {
        font-size: 14px;
        font-weight: 300;
    }

    .hero__title {
        font-size: 24px;
        max-width: 300px;
    }

    .hero__text {
        font-size: 14px;
        font-weight: 300;
        max-width: 350px;
    }

    .content__button {
        padding: 14px 40px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .hero {
        max-height: 250px;
    }

    .hero__rating-label {
        font-size: 12px;
        font-weight: 200;
    }

    .hero__content {
        max-width: 300px;
        padding: 10px;
    }

    .hero__rating,
    .hero__title,
    .hero__text {
        margin-bottom: 5px;
    }

    .hero__title {
        font-size: 20px;
        max-width: 250px;
    }

    .hero__text {
        font-size: 12px;
        font-weight: 200;
    }

    .content__button {
        padding: 12px 32px;
        font-size: 13px;
    }
}

/*media bet-info */
@media (max-width: 1118px) {
    .bet-info__block {
        flex-direction: column;
    }

    .bet-info__table--icon {
        padding-bottom: 16px;
    }
}

/* Responsive tweaks */
@media (max-width: 768px) {
    .bet-info__title {
        font-size: 22px;
        line-height: 32px;
    }

    .bet-info__row td {
        font-size: 14px;
        padding: 10px 16px;
    }
}

@media (max-width: 480px) {
    .bet-info__title {
        font-size: 20px;
        line-height: 28px;
    }

    .bet-info__row td {
        font-size: 13px;
        padding: 8px 12px;
    }

    .bet-info__block-wrapper {
        padding-bottom: 12px;
    }
}

/* offers */
@media (max-width: 1156px) {
    .offers-content {
        width: 100%;
        max-width: 400px;
        padding: 20px 16px;
    }

    .offers-title {
        font-weight: 600;
        font-size: 26px;
        line-height: 1.2;
        margin: 0 auto 20px;
    }

    .offers-text {
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .offers-content {
        width: 100%;
        max-width: 350px;
        padding: 15px 10px;
    }

    .offers-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;
        margin: 0 auto 15px;
    }

    .offers-text {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 15px;
    }
}

@media (max-width: 685px) {
    .offers__image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

/* media rating*/
@media (min-width: 768px) {
    .rating {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .rating {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* media footer*/
@media (max-width: 768px) {
    .footer__bottom {
        flex-direction: column;
    }

    .footer__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer__logo {
        margin-bottom: 32px;
    }
}